<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 blog-main">
        <div class="row">
          <h3>このサイトについて</h3>
          <p>ビールがある日常をテーマに、美味しいビールが飲める・買えるお店の情報はもちろん、それ以外にもビールに関連するイベントや小ネタを日々紹介していきます</p>
        </div>
      </div>
    </div>
  </div>
</div>
