<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 blog-main">
        <div class="row">
          <h3>このサイトについて</h3>
          <p>ビールがある日常をテーマに、美味しいビールが飲める・買えるお店の情報はもちろん、それ以外にもビールに関連するイベントや小ネタを日々紹介していきます</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 footer-widget">
      <h3> <i class="fa fa-envelope"></i>運営者連絡先</h3>
      <span class="email">
        h5y1m141+lifewithbeer[アットマーク]gmail.com <br/>
        ※<strong>[アットマーク]</strong>の箇所を＠に置き換えてください
      </span>
    </div>
  </div>
</div>
