<div class="tab-pane" id="tab6" ng-class="{'active':selectedTab == 5}">
  <header class="panel-heading">
    <i class="fa fa-edit article__contents__icon"></i>
    お店を登録
  </header>
  <div class="panel-body" ng-init=fetchPrefectures(<%= @prefectures.to_json %>)>
    <div class="col-xs-6">
      <label for="prefectures">都道府県を選択</label>
      <select name='prefectures' class='form-control' ng-model='selectedPrefecture' ng-options="prefecture.name for prefecture in prefectures"></select>
    </div>
    <div class="col-xs-6">
      <label for="prefectures">お店の名前</label>
      <input type="text" class='form-control' ng-model="placeName" />
    </div>
  </div>
  <div ng-if='searchResultPlaces'>
    <ul ng-repeat='place in searchResultPlaces'>
      <select-place data="place" contents="contentsArea" class="btn btn-priamry">
        <h3>
          {{ place.name }}
        </h3>
      </select-place>
      <li>住所：{{ place.address }}{{ place.address2 }}</li>
    </ul>
  </div>
  <div ng-if='selectedPrefecture'>
    <a class="btn btn-primary" href='' ng-click="searchWithRansack(prefectureName)">検索する</a>
  </div>
</div>
