<div class="tab-pane" id="tab6" ng-class="{'active':selectedTab == 5}">
  <header class="panel-heading">
    <i class="fa fa-edit article__contents__icon"></i>
    お店を登録
  </header>
  <div class="panel-body">
    <a class="btn" href='' ng-click="searchWithRansack('test')">検索する</a>
  </div>
</div>
