<div class="tab-pane" id="tab6" ng-class="{'active':selectedTab == 5}">
  <header class="panel-heading">
    <i class="fa fa-edit article__contents__icon"></i>
    お店を登録
  </header>
  <div class="panel-body">
    <div class="col-xs-6">
      <label for="prefectures">最初に登録したいお店のエリアを選択してください</label>
      <select name='areas' class='form-control' ng-model='selectedArea' ng-options="area.name for area in areas"></select>
    </div>
    <div class="row">
      <div class="col-xs-12" ng-if='selectedArea'>
        <search-place data="selectedArea" places="selectedPlaces"></search-place>
      </div>
    </div>
  </div>
</div>
