<div class="tab-pane" id="tab5" ng-class="{'active':selectedTab == 4}">
  <header class="panel-heading">
    <i class="fa fa-edit article__contents__icon"></i>
    画像登録
  </header>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="row"></div>
      <div class="col-xs-12">
        <div class="form-group">
          <label class="col-xs-1">アップロード画像</label>
          <div class="col-xs-10">
            <upload-picture data="contentsArea"></upload-picture>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
