<div class="pull-right">
  <ul class="list-inline">
    <li><button class="btn-secondary-outline" ng-click="saveArticle('draft')">下書き保存</button></li>
    <li><button class="btn-info" ng-click="saveArticle('publish')">公開保存</button></li>
  </ul>
</div>
