<div class="tab-pane" id="tab1" ng-class="{'active':selectedTab == 0}">
  <section class="panel" ng-hide="requiredElementsFlag">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <% if @article.published? %>
              <label class="col-xs-1 label label-pill label-primary">
                公開中
              </label>
            <% else %>
              <label class="col-xs-1 label label-pill label-default">
                下書き
              </label>
            <% end %>
            <div class="col-xs-10">
              <input size="80" class="article__contents__title article__contents__title--main" name="mainTitle" ng-model="mainTitle" placeholder="記事コンテンツのメインタイトルを入力してください" type="text"></input>
              <title-length data="mainTitle"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3>タイトル作成時のヒントとして、伝え方が9割という本の内容が参考になるので以下メモ</h3>
            <ul>
              <li><h4>自分の頭の中をそのままコトバにしない</li></h4>
              <li><h4>相手の頭の中を想像する。最も相手の心が動くであろうことを選択させるのが良いみたい</h4></li>
              <ul>
                <li>相手の好きなこと。（例：デートしてくださいではなく<b>驚くほど美味いパスタはどう？</b>と伝える）</li>
                <li>嫌いなことを回避（例：芝生に入らないでよりは、<b>芝生に入ると農薬の匂いが付く</b>と伝える）</li>
                <li>選択の自由（例：デートしてくださいよりは<b>驚くほど美味いパスタのお店とピザの店どちらがいい</b>と伝える）</li>
                <li>認められたい欲を満たす</li>
                <li>あなた限定</li>
                <li>チームワーク化</li>
                <li>感謝の気持ち</li>
              </ul>
              <li><h4>相手のメリットと一致するお願いを作る</h4></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
