default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: life_with_beer_development
test:
  <<: *default
  database: life_with_beer_test
production:
  <<: *default
  database: life_with_beer_production
  username: life_with_beer
  password: <%= ENV['LIFE_WITH_BEER_DATABASE_PASSWORD'] %>
