
  <div class="col-xs-10">

    <div class="form-group">
      <%= f.label :social_accounts, 'SNS情報' , class: 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <social-account-list attributes="socialAccountsAttributes" accounts="selectedSocialAccounts" data="<%= @social_accounts.to_json %>"> </social-account-list>
      </div>
    </div>


