<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10">
    <h2>
      <%= @brewery.name %>
    </h2>
    <% unless @brewery.image.url.nil? %>
      <%= image_tag(@brewery.image.medium_thumb.url, class: 'thumbnail') %>
    <% end %>
  </div>
</div>
<div class="row" ng-controller="BreweryCtrl">
  <%= render partial: 'edit_form' %>
</div>
