<section class="row" ng-controller="BreweryCtrl">
  <section class="wrapper">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-11">
        <div>
          <ul class="nav nav-tabs">
            <li data-toggle="tab" ng-repeat="tab in tabs" ng-click='selectTab($index)' ng-class="{'active':selectedTab == $index}">
              <a data-toggle="tab" href="#">
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>
        <%= form_for(@brewery, url: admin_breweries_path, html: { class: 'form-horizontal'}) do |f| %>
          <div class="tab-content">
            <%= render partial: 'base_info', locals: {f: f} %>
            <%= render partial: 'sns_info', locals: {f: f} %>
            <%= render partial: 'item_info', locals: {f: f} %>
          </div>

        <% end %>
      </div>
    </div>
  </section>
</section>
