<div id="place__summary">
  <%= place.name %>
  <div id="placeLatitude" value="<%= place.latitude %>"></div>
  <div id="placeLongitude" value="<%= place.longitude %>"></div>

  <div id="map_place_summary" class="place__contents__map"></div>
</div>
