<%= place.name %>
<div id="placeLatitude" value="<%= place.latitude %>"></div>
<div id="placeLongitude" value="<%= place.longitude %>"></div>

<div id="map_canvas" class="place__contents__map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0wKSmw7CleQn8MlvjTYljueQBcZE2eWw"></script>
