<nav class="pull-right tales-nav">
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills navbar-nav">
      <li>
        <%= link_to 'このサイトについて', about_path %>
      </li>                        
    </ul>
  </div>
</nav>
