<div class="container">
  <div class="tales-breadcrumb">
    <a href="#">Blog</a>
  </div>

  <div class="tales-searchbox">
    <form action="#" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" type="text" placeholder="Search">
    </form>
  </div>
</div>
