<nav class="pull-right tales-nav">
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills navbar-nav">      
      <li class="dropdown active">
        <a href="#">記事</a>
      </li>
      <li>
        <a href="about.html">美味しいビールが飲める・買えるお店</a>
      </li>
      <li>
        <a href="credits.html">このサイトについて</a>
      </li>                        
    </ul>
  </div>
</nav>
